rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function userData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isPetugas() {
      return signedIn() && userData().role == 'petugas';
    }

    match /users/{uid} {
      allow read: if signedIn();
      allow create: if signedIn()
                    && request.auth.uid == uid
                    && request.resource.data.role == 'petugas';
      allow update: if signedIn()
                    && request.auth.uid == uid
                    && request.resource.data.role == resource.data.role;
      allow delete: if false;
    }

    match /bulls/{bullId} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }

    match /pemberian_pakan/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /sanitasi/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /pemeriksaan_kesehatan/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /penimbangan/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /pengukuran/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /pengobatan/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /pemberian_obat_cacing/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /pemotongan_bulu/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /pemotongan_kuku/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
    match /penampungan_semen/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isPetugas();
    }
  }
}
